@font-face {
    font-family: 'MyFont';
    src: local("E:\Univerity Items\Semester 4\SDA\Project\Hostel_Managment_System\Fonts\brandon-text-medium\HVDFonts-BrandonText-Bold.otf");
}

#Text_Unlock {
    /* -fx-font-family: "Helvetica"; */
    -fx-font-size: 40px;
    -fx-fill: "#ffffff";
    -fx-translate-x: 40px;
    -fx-translate-y: 132px;
    -fx-font-weight: bold;
}

#Text_Your {
    -fx-font-family: "Helvetica";

    -fx-font-size: 20px;
    -fx-fill: "#ffffff";
    -fx-translate-x: 40px;
    -fx-translate-y: 175px;
}
#Text_Space {
    -fx-font-family: "Helvetica";

    -fx-font-size: 30px;
    -fx-fill: "#ffffff";
    -fx-translate-x: 90px;
    -fx-translate-y: 175px;
}
#Text_Description_Hostel {
    -fx-font-family: "Helvetica";

    -fx-font-size: 8px;
    -fx-fill: "#f2eaea";
    -fx-translate-x: 40px;
    -fx-translate-y: 210px;
}

#Button_Hostel
{
    -fx-translate-x: 40px;
    -fx-translate-y: 285px;
    -fx-text-fill : "white";
    -fx-background-color: none; 
    -fx-border-radius: 2px;
    -fx-border-color: "white";
    -fx-min-width: 200px;
}

#Text_Discover {
    /* -fx-font-family: "Helvetica"; */
    -fx-font-size: 40px;
    -fx-fill: "#232323";
    -fx-translate-x: 40px;
    -fx-translate-y: 132px;
    -fx-font-weight: bold;
}

#Text_Your_2 {
    -fx-font-family: "Helvetica";

    -fx-font-size: 20px;
    -fx-fill: "#232323";
    -fx-translate-x: 40px;
    -fx-translate-y: 175px;
}
#Text_Stay {
    -fx-font-family: "Helvetica";

    -fx-font-size: 30px;
    -fx-fill: "#232323";
    -fx-translate-x: 90px;
    -fx-translate-y: 175px;
}
#Text_Description_Guest {
    -fx-font-family: "Helvetica";

    -fx-font-size: 8px;
    -fx-fill: "#383434";
    -fx-translate-x: 40px;
    -fx-translate-y: 210px;
}

#Button_Guest
{
    -fx-translate-x: 40px;
    -fx-translate-y: 285px;
    -fx-text-fill : "#232323";
    -fx-background-color: none; 
    -fx-border-radius: 2px;
    -fx-border-color: "#232323";
    -fx-min-width: 200px;
}